@model MVCBlueRay.Models.UserViewModel

@{
    ViewBag.Title = "AddBluRay";
}

<h2>Manage your Blu-Ray collection</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.Id)


        @for (int i = 0; i < Model.BluRays.Count(); i++)
        {
            @Html.EditorFor(m => Model.BluRays[i].Checked)
            @Html.DisplayFor(m => Model.BluRays[i].Name)

            @Html.HiddenFor(m => Model.BluRays[i].Name)
            @Html.HiddenFor(m => Model.BluRays[i].Id)
            <br />
        }

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}


<div>
    @Html.ActionLink("Back to My Collection", "LoggedIn")
</div>
<div>
    @Html.ActionLink("Back to Blu-Ray List", "Index", "BluRay")
</div>

